body {
  background-color: rgb(217, 240, 217);
}

a {
  color: rgb(7, 124, 85);
  text-decoration: none;
}

.container {
  width: 600px;
  margin: 120px auto;
}

header {
  margin-bottom: 40px;
}

h1,
main {
  font-family: "Edu VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.form-container {
  background-color: rgb(177, 235, 191);
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

.form-hint {
  line-height: 20px;
  font-size: 14px;
  margin-top: 8px;
  opacity: 0.4;
  text-align: left;
}

form {
  display: flex;
}

.topic {
  padding: 10px;
  font-size: 16px;
  border-radius: 50px;
  width: 70%;
  line-height: 20px;
  color: rgb(0, 0, 0);
  border: none;
}

.submit-button {
  padding: 10px;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: rgb(0, 0, 0);
  margin-left: 10px;
  background-color: rgb(103, 181, 154);
  border: none;
  width: 30%;
}

.poem-container {
  font-size: 16px;
  line-height: 25px;
  padding: 25px;
  background-color: rgb(177, 235, 191);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  border-left: 15px solid rgb(86, 172, 143);
  text-align: center;
  margin: 30px auto;
  max-width: 600px;
}

.hidden {
  display: none;
}

.poem-container strong {
  color: rgb(61, 121, 100);
}

.bounce {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.bounce span {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: rgb(61, 121, 100);
  border-radius: 50%;
  display: inline-block;
  animation: bounce 0.6s infinite alternate;
}

.bounce span:nth-child(2) {
  animation-delay: 0.2s;
}

.bounce span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-15px);
  }
}

footer {
  text-align: center;
  font-size: 14px;
}
